<form action="/api/restaurants/form" method="POST">
  <input type="text" name="page" placeholder="Page Number" />
  <input type="text" name="perPage" placeholder="Restaurants Per Page" />
  <input type="text" name="borough" placeholder="Borough" />
  <button type="submit">Submit</button>
</form>